@import "../../../utils/variables";

.tabs {
  margin-top: 28px;

  &__btn {
    display: inline-block;
    padding: 10px;
    margin-right: 12px;
    color: $color-primary-black;
    font-size: 14px;

    &_active {
      background: $color-primary-blue;
      color: $color-primary-white;
    }
  }
}