$color-primary-blue: #105DE1;
$color-primary-white: #FFF;
$color-primary-black: #1C1C1C;

$color-primary-gray-1: #434343;
$color-secondary-grey-1: #E2E2E2;
$color-secondary-blue-background: #EBF4FC;
$color-secondary-grey-2: #7E7E7E;
$color-secondary-grey-3: #C2C2C2;
$color-secondary-orange: #D35230;
$color-secondary-green: #5AD330;

$color-popup-background: rgba(0, 0, 0, 0.80);

$grey-profile-color: #7D7D7D;
$table-background-blue-color: #ECF3FF;
$border-table-color: #9C9C9C;
$header-background-color: #F2F7FF;
$radio-btn-background: #D9D9D9;
